.hide-if-js 
{
	display:block;
}

#no-js .recommendation_typeahead:after{
	position: absolute;
	width: 100%;
	height: 40px;
	content:'Please enable javascript to create recommendations';
	color:red;
}

#no-js .recommendation_typeahead input[name^="recommendations"] {
	display: none;
}

.nojs-wysiswyg
{
	display:block !important;
}

.wysiwyg-textarea
{
	display:none;
}